
body{
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flexbox;
}

.cabeçalho{
    position: relative;
    padding: 10px;
    text-align: center;
}
.cabeçalho h1{
border: 2 solid;
box-shadow: 1px;
border-radius: 10px;
background-color: rgb(255, 255, 255);
padding: 1px;
margin: 0x;
}
.secao{
    margin: 100px;
padding: 100px;
align-items: center;
text-align: center;
border-radius: 15px;
box-shadow: 10px;
background-color: rgb(233, 233, 233);
}
.secao1{
    margin: 10px;
padding: 1px;
align-items: center;
text-align: center;
border-radius: 15px;
box-shadow: 10px;
background-color: rgb(255, 255, 255);
}
.secao a{
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
}
a:hover{
    color: rgb(173, 173, 173);
}

footer{
    
    padding-top: 20vh;
    text-align: center;
    position: relative;
    border-radius: 10px;
}
.icone{
    border-radius: 100px;
    width: 150px;
}
.icone2{
    border-radius: 100px;
    width: 150px;
}
.tituloj{
    text-align: center;
    color: rgb(65, 65, 65);
    text-decoration:dotted;
}
.cards{
   display: flex;
   gap: 20px;
}

.card{
        text-align: center;
        border-radius: 10px;
        box-shadow: 10px;
        background-color: rgba(0, 0, 0, 0.03);

}
.card img{
    padding: 30px;
    width: 130px;;
    height: 160px;
}
.card a{
    font-size: 10px;
    background-color: whitesmoke;
    text-decoration: none;
    color: black;
    border: 2px solid;
    padding: 5px;
    border-radius: 10px;
}
.destaque{
     text-align: center;
        border-radius: 10px;
        box-shadow: 10px;
        background-color: rgba(0, 0, 0, 0.03);
}
.destaquecard{
     text-align: center;
        border-radius: 10px;
        box-shadow: 10px;
        background-color: rgba(255, 255, 255, 0.03);
}
.destaquecard img{
    border-radius: 100px;
}
.detalhes img{
    border-radius: 20px;
}